:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Poppins', sans-serif
}

main {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #837E9F;
}

body {
    background-color: #22212C;
}

#perfil {
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
}
.perfil1 {
    border: 2px solid #302F3D;
    position: absolute;
    width: 150px;
    height: 170px;
    left: 110px;
    top: 5px;
    border-radius: 50%;
    align-items: center;
}
.name {
    position: absolute;
    width: 196px;
    height: 26px;
    left: 106px;
    top: 150px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;

    color: #837E9F;
}
.tipo {
    position: absolute;
    width: 128px;
    height: 17px;
    left: 130px;
    top: 196px;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #837E9F;
}
#pessoais {
    position: absolute;
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;

    background: #22212C;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}



#sep-tec {
    position: absolute;
    width: 121px;
    height: 26px;
    left: 30px;
    top: 3px;
    }

#experiencias {
    position: absolute;
    width: 348px;
    height: 349px;
    left: 40px;
    top: 900px;
    }
     
#title-exp {
    position: absolute;
    left: 40px;
}
    
#trainee {
    position: absolute;
    left: 55px;
    top: 80px;
    

}
    
#titan {
    position: absolute;
    left: 5px;
    top: 0px;
    font-weight: bold;
}
    
#estudos {
    position: absolute;
    width: 348px;
    height: 349px;
    left: 40px;
    top: 200px;
}

#title-expex {
    position: absolute;
    left: 40px;
}
    
#part1 {
    position: absolute;
    left: 40px;
    top: 70px;
    text-align: left;
    line-height: 20px;
    width: 700px;
}
    
#part2 {
    position: absolute;
    left: 40px;
    top: 170px;
    text-align: left;
    line-height: 20px;
    width: 700px;
}

#autor {
    position: absolute;
    width: 206px;
    height: 19px;
    left: 617px;
    top: 1400px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #837E9F;
}

.tecnologias {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 60px;
    top: 855px;
}

#tec {
    position: absolute;
    width: 121px;
    height: 26px;
    left: 60px;
    top: 750px;
}